<app-navbar></app-navbar>
<section
		class="banner d-flex justify-content-center align-items-center ">
		<div class="welcome container text-center">
			<h2><span>EVE</span>NT <span>MA</span>NAGEMENT <span>S</span>YSTEM</h2> <br>
			<h3>We Plan Your <span>Celebrations</span> With Finesse, 
				<br><span>Amazing Experience</span> You Will <span>Never Forget</span>!</h3> <br>
            <a routerLink="/login" class="btn btn-round-button"><span>Login </span> <span>Get Start</span></a>
		</div>
</section>


